[submodule "WooCommerce/woocommerce_rms_seamless_id"]
	path = WooCommerce/woocommerce_rms_seamless_id
	url = C:\\RMS_Repo\\Github\\Shopping-Cart-Plugins-RazerMS_WooCommerce\\WooCommerce\\woocommerce_rms_seamless_id
